body{
    background-color: rgb(229, 222, 215, 0.886);
}
.heading{
    font-size: 20px;
    width: 100%;
    margin:0px;

}
#start{
    font-size: 18px;
}
#number_of_objects{
    font-size: 18px;
}
#status{
    font-size: 18px;
}
.copy_right_footer{
    position: fixed;
    color:rgb(0, 0, 0) ;
    bottom: 0;
    width: 100%;
    background-color: rgb(195, 182, 165);
    line-height: 3px;
    text-align: center;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}

